# CODEOWNERS File for SISAPPPER-bff-savings

## Owners

README.md @rmgarciaex_bice
uk

# Custodians responsible for approving Pull Requests to Master:

**/master/** @bitbucket-custodio

## Deployment Environments

# Technical Lead responsible for viewing deplkoññoyment environments:

**/pipelines/** @bamboo-repo1-tl

## Development Environment

# Developer responsible for deploying in development and viewing all deployment environments:

**/pipelines/develop/** @bamboo-repo1-dev

## QA Environments

# QA Engineers and Functional QA responsible for deploying and viewing QA environments:

**/pipelines/qa/** @bamboo-ingenieros-qa @bamboo-qa-funcional

## BNK Prod Environments

# BNK Prod responsible for viewing and deploying in Pre-Prod and Production environments:

/pipelines/preproduction/** @bamboo-bnk-prod
/pipelines/production/** @bamboo-bnk-prod
